*{
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
 	background: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}
.container{
  max-width: 100%;
  overflow-x: hidden;
}
.slider__prev {
  left: 10px;
}
.slider__next {
  right: 10px;
}

.slider {
  display: flex;
  max-width: 80%;
  max-height: 500px;
  margin: 20px auto;
  overflow: hidden;
}

.slider__line{
display: flex;
transition: all ease 1s;
}
.slider__line img {
  width: 100%;
	max-height: auto;
  object-fit: contain;
	flex-shrink: 0;
  opacity: 0; 
  transition: opacity 0.5s ease;

}

@media (max-width: 500px){
	.slider__prev {
		left: -5px;
	}
	.slider__next {
		right: -5px;
	}
}